body{
    background-color: rgb(163, 121, 66);
    text-align: center;
    font-family: Garamond, Georgia, Times, serif;
}
img{
  border: 1px solid black;
  border-radius: 4px;
  width: 600px;
}
li{
    display: inline;
    padding: 25px;
}
.sub-header{
    font-style: italic;
    font-size: 10px;
}
.sub-header3{
    font-style: italic;
    font-size: 12px;
}