body{
    background-color: rgb(163, 121, 66);
    text-align: center;
    font-family: 'EB Garamond', serif;
}
img{
  border: 1px solid black;
  border-radius: 4px;
  width: 600px;
}
li{
    display: inline;
    padding: 25px;
}
.sub-header{
    font-style: italic;
    font-size: 12px;
}
#hometext{
  width: 305px;
  padding: 10px;
  margin: 75px;
  text-align: left;
  display: inline-block;
  vertical-align:top;
}
#homephoto{
    width: 400px;
    height: 600px;
    padding: 10px;
    margin: 100px;
    display: inline-block;
}
#riverlink{
    font-size: 24px;
    font-style: italic;
    text-align: center;
}
footer{
    font-size: 10px;
    text-align: center;
}