body{
    background-color: rgb(163, 121, 66);
    text-align: center;
    font-family: 'EB Garamond', serif;
}
img{
  border: 1px solid black;
  border-radius: 4px;
  width: 600px;
}
li{
    display: inline;
    padding: 25px;
}
.sub-header{
    font-style: italic;
    font-size: 12px;
}
div {
  width: 305px;
  padding: 10px;
  margin: 100px;
  text-align: left;
}
footer{
    font-size: 10px
    text-align: right;
    float: right;
}